<section class="main section">
  <div class="container">
    <div class="content">
      <div class="entry">
        <h1>Angular 2 QuickStar</h1>
        <div class="td1">
          <h2>Current User: Test@Test.com</h2>
        </div>
        <div class="nut1">
          <button type="button" class="nut2" name="add product">Add Product</button>
        </div>

        <form method="get" action="#">
          <div class="form-group">
            <table class="table table-striped">
              <tr>
                <th></th>
                <th>Product Name</th>
                <th>Product Price</th>
              </tr>
              <tr>
                <td>
                  <button type="submit" class="btn btn-primary"><img src="assets/img/icon1.jpg" width="20px" height="20px" /></button>
                  <button type="submit" class="btn btn-danger"><img src="assets/img/icon2.jpg" width="20px" height="20px" /></button>
                </td>
                <td>Product One</td>
                <td>$22.50</td>
              </tr>
              <tr>
                <td>
                  <button type="submit" class="btn btn-primary"><img src="assets/img/icon1.jpg" width="20px" height="20px" /></button>
                  <button type="submit" class="btn btn-danger"><img src="assets/img/icon2.jpg" width="20px" height="20px" /></button>
                <td>Product Two</td>
                <td>$15.00</td>
              </tr>
              <tr>
                <td>
                  <button type="submit" class="btn btn-primary"><img src="assets/img/icon1.jpg" width="20px" height="20px" /></button>
                  <button type="submit" class="btn btn-danger"><img src="assets/img/icon2.jpg" width="20px" height="20px" /></button>
                <td>Product Four</td>
                <td>$123.82</td>
              </tr>
              <tr>
                <td>
                  <button type="submit" class="btn btn-primary"><img src="assets/img/icon1.jpg" width="20px" height="20px" /></button>
                  <button type="submit" class="btn btn-danger"><img src="assets/img/icon2.jpg" width="20px" height="20px" /></button>
                <td>Product Five</td>
                <td>$123.75</td>
              </tr>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>




